<div class="page-header">
  <%= link_to "/entregas", class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Editar</h1>
</div>

<%= render 'form' %>
