/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .login{
     
     margin-left: 10%;
     width: 80%;
 }
 .topo_login{
     background-color: #999;
     box-shadow: 2px 0px 0px 1px rgba(0, 3, 3, 0.3);
     border-radius: 7px 7px 0 0;
     margin-bottom: -1px;
     text-transform: uppercase;
     font-size: 16pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }
 #new_user{
   
     padding: 10px;
     box-shadow: 2px 2px 2px 1px rgba(0, 3, 3, 0.3);
     border-radius: 7px 7px 7px 7px;
     background: #F7F7F7;
 }

 .image-login{
     width: 90%;
     margin: auto;
     padding: 10px;
 }
 .principal{
     
 }